input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select.offer-input-email{
  width: 90%;
  border: 1px solid #EEF0F2;
  border-radius: 6px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  margin-top: 21px;
  margin-bottom: 35px;
}
