<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lift Off</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/skeleton.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="logo">Lift Off</div>

        <div class="nav-list u-pull-right">
          <ul>
            <li class="nav-list--item"><a class="button button-no-border">Features</a></li>
            <li class="nav-list--item"><a class="button button-no-border">Pricing</a></li>
            <li class="nav-list--item"><a class="button button-no-border">Testimonials</a></li>
            <li class="nav-list--item"><a class="button button-no-border">Contact</a></li>
            <li class="nav-list--item"><a class="button sign-up">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="intro" class="intro">
      <div class="container contents">
        <h4>COMING SOON</h4>
        <h1>Best Streaming Service</h1>
        <p>Something about this being the best thing ever!</p>
        <button class="button primary shadow">Sign Up for Beta</button>
      </div>
      <img class="section-footer-clouds" src="/public/images/intro-clouds.svg" />
    </section>

    <section id="what" class="what">
      <div class="container">
        <h2 class="title">What is <strong>Send me to the cloud</strong></h2>
        <p>Something about this being the best thing ever!</p>
        <div class="row">
          <div class="four columns">
            <div class="card">
              <img />
              <h5>Constant Speed</h5>
              <p>Something about constant speed</p>
              <button class="button danger">Learn More<i class="material-icons">keyboard_arrow_right</i></button>
            </div>
          </div>
          <div class="four columns">
            <div class="card card-shadow">
              <img />
              <h5>File Management</h5>
              <p>Best file management ever!</p>
              <button class="button danger">Learn More<i class="material-icons">keyboard_arrow_right</i></button>
            </div>
          </div>
          <div class="four columns">
            <div class="card">
              <img />
              <h5>Support</h5>
              <p>The support is amazing.</p>
              <button class="button danger">Learn More<i class="material-icons">keyboard_arrow_right</i></button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="plans" class="plans">
      <div class="container">
        <h1>Find the <strong>right plan</strong> for you</h1>
        <p>15 days free trial. No credit card required</p>

        <div class="three columns">
          <div class="card card-white basic">
            <img />

            <h5><small>Basic</small></h5>
            <h2>50GB</h2>
            <p>Perfect for the beginning</p>

            <hr />

            <ul>
              <li>Unlimited Traffic</li>
              <li>Full platform Applications</li>
              <li>Email Support</li>
            </ul>

            <h3>$0.99</h3>
            <p><small>/month</small></p>

            <button class="button">Learn More</button>
          </div>
        </div>
        <div class="three columns">
          <div class="card card-white pro">
            <img />

            <h5><small>Pro</small></h5>
            <h2>250GB</h2>
            <p>Perfect for the beginning</p>

            <hr />

            <ul>
              <li>1 Free Domain</li>
              <li>Unlimited Traffic</li>
              <li>Full platform Applications</li>
              <li>Email Support</li>
            </ul>

            <h3>$4.99</h3>
            <p><small>/month</small></p>

            <button class="button">Learn More</button>
          </div>
        </div>
        <div class="three columns">
          <div class="card card-white performance">
            <img />

            <h5><small>Performance</small></h5>
            <h2>500GB</h2>
            <p>For business</p>

            <hr />

            <ul>
              <li>1 Free Domain</li>
              <li>Unlimited Traffic</li>
              <li>Full platform Applications</li>
              <li>SSL Certificate</li>
              <li>Email Support</li>
            </ul>

            <h3>$9.99</h3>
            <p><small>/month</small></p>

            <button class="button">Learn More</button>
          </div>
        </div>
      </div>
    </section>

    <section id="quote" class="quote">
      <div class="container">
        <div class="quote-mark">"</div>

        <blockquote>IPhone vero pinterest health goth. Ut readymade qui drinking vinegar fam.</blockquote>

        <div>
          <img />
          <p><small>Mike Bloomswell</small></p>
          <small>Founder of Bloomswell Iot</small>
        </div>
      </div>
    </section>

    <section id="where" class="where">
      <div class="container float">
        sup
      </div>
    </section>

    <section id="offer" class="offer">
      <div class="container">
        <h2 class="title">Encouraged by our <strong>offer</strong>?</h2>
        <p>Come on you know it's good</p>

        <input class="offer-input-email" type="email" name="email" value="Email Address.." />

        <button class="button primary shadow">Sign up for Beta</button>
      </div>
      <img class="section-footer-clouds" src="/public/images/intro-clouds.svg" />
    </section>

    <footer id="footer" class="footer">
      <div class="container">
        <div class="row">
          <div class="five columns">
            <h5>Send me to the cloud</h5>
            <p>Skateboard pinterest hashtag ugh cronut, before they sold out street art pug.</p>
          </div>
          <div class="two columns">
            <h5><small>Company</small></h5>
            <ul>
              <li>News</li>
              <li>Technologies</li>
              <li>Promotions</li>
              <li>Careers</li>
            </ul>
          </div>
          <div class="two columns">
            <h5><small>Company</small></h5>
            <ul>
              <li>Help Center</li>
              <li>Products and Services</li>
              <li>Tools</li>
              <li>Privacy Policy</li>
            </ul>
          </div>
          <div class="three columns">
            <h5>Contact</h5>
            <p>Contact us if you need help</p>

            <h5>800 13 25 32</h5>
            <a>enquiries@Sendmetothecloud.com</a>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="u-pull-left">
            <p>&#9400;</p>
          </div>
          <div class="u-pull-right">
            <ul>
              <li>Fb</li>
              <li>Twitter</li>
              <li>Instagram</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="/public/js/bundle.js"></script>
  </body>
</html>
